@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme{
    /* 360px */
    --breakpoint-xs:22.5rem;
    /* 480px */
    --breakpoint-sm:30rem;
    /* 640px */
    --breakpoint-md:40rem;
    /* 768px  */
    --breakpoint-lg:48rem;
    /* 992px  */
    --breakpoint-xl:62rem;
    /* 1024px  */
    --breakpoint-2xl:64rem;
    /* 1280px  */
    --breakpoint-3xl:80rem;
    
    --font-montserrat:"Outfit", "sans-serif";
}
body{
    background-color: #F4F1F8;
}
.input-field{
   @apply mb-2 w-[280px] border border-[#ccc] rounded-md focus:ring-1 
    focus:border-blue-600 px-2 py-2.5 outline-none xs:w-[312px] text-base font-[480] sm:w-[385px] placeholder:text-sm
}
.resume-field{
    @apply mt-1 block w-full outline-none border rounded-md border-[#ccc] focus:border-[#2A5D9E] sm:text-sm py-2 px-2 focus:ring-[#2A5D9E]
}
.submit-btn{
    @apply bg-[#2A5D9E] mt-1 rounded-md text-white font-medium text-center py-2 cursor-pointer text-base w-[280px] xs:w-[312px] sm:w-[385px]
}
.error-msg{
    @apply text-red-500 font-medium relative bottom-1.5 text-[12px]
}
.next-btn{
    @apply bg-[#2A5D9E] rounded-md text-white font-medium text-center py-2 cursor-pointer text-lg w-[307px] xs:w-[312px] sm:w-[385px] md:w-[480px]
}
.back-btn{
    @apply m-2 bg-gray-400 text-white p-2.5 text-lg rounded-md cursor-pointer
}

